<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".StarKnight"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/sk_ic_launcher"
        android:label="@string/sk_app_name"
        android:roundIcon="@mipmap/sk_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/SK_Theme.StarKnight"
        tools:ignore="DiscouragedApi"
        >
        <!-- TODO: 替换广告ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4445198259368308~5742621467" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SkSelectServerActivity"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.SkApplicationActivity"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.SkResultActivity"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.SkSettingsActivity"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.SkLanguageActivity"
            android:exported="false"
            android:screenOrientation="behind" />
    </application>

</manifest>